/* .traffic-top {
    background-color: #7d1d1d;
    width: 50px;
    height: 300px;
    position: relative;
    top: 0;
    left: 100px;
    z-index: 10;
} */
.traffic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.8);
    border: 30px outset #000000;
    /* border-top: none; */
}
.traffic-light {
    filter:drop-shadow(0 0 1px rgba(126, 122, 122, 0.9));
    border: 5px double rgb(241, 239, 239) ;
}
